
body{
    margin: 0;
}
.container{
    text-align: center;
    
}
/*Header*/
.header{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 395px;
    background-color: #1F2937;
}
.header p{
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 0px;
    margin: 0px;
}
.header_links{
    display: flex;
    list-style-type: none;
    gap:30px;
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;

}
a{
    text-decoration: none;
    color: #F9FAF8;
}

/*First section*/
.top_section{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    background-color: #1F2937;
    padding: 80px 0px;
}   
.top_section h1{
    font-family: "Hero Main Text",sans-serif;
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
    margin: 0px;
}
.top_section p{
    margin:0px;
    font-size: 18px;
    
}
.text_buttons{
    width: 400px;
    text-align: left;
    font-size: 18px;
    font-family: sans-serif;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    font-family: sans-serif;
    color: #F9FAF8;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    margin-top: 15px;
    font-weight: bold;
}

/*Second section*/
.second_section{
    background-color: #F9FAF8;   
}
.second_section h2{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px;
}
.images_w_text{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.image{
    width:150px;
}
.images_w_text img{
    border: solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/*Third section*/
.third_section{
    background-color: #E5E7EB;
    padding: 80px 0px;
}
.quote_text{
    width: 800px;
    text-align: left;
    margin: auto;
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
}
